*{
  margin: 0px;
  padding: 0px;
  font-family: 'Handlee', cursive;
}
body{
  background-color: #EFF3F8 ;
}
.logo{
  position: absolute;
  top: 5px;
  left: 5px;
  float: left;

}
.nav-links{
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 32px auto;

}
.nav-link{
color: rgb(51, 80, 22);
font-size: 30px;
text-decoration: none;
}
.intro-text{
  position: relative;
  font-size: 70px;
  text-align: left;
  position: absolute;
  left: 28px;
  margin:30px auto auto 60px;; 
  background: linear-gradient(to right, #1d0130, #a584f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro-text h1{
  text-shadow: 10px 10px 8px #bda4f7;
}
.intro-text p{
  font-size: 37px;
  width: 650px;
  height: auto;
  margin: 30px auto auto 60px;
  color: #434c68;
}
.pic{
  position: relative;
  left: 57%;
  top: 430px;
  filter:drop-shadow(3px 7px 9px black);
  background: url(./image/headRacet.jpg);
  width: 600px;
  height:700px;
  opacity: 0.9;
  align-content: center;
  border-radius: 25px;
  animation: slide 220s infinite;
}
@keyframes slide{
  20%{
    background: url(./image/8.jpg);
  }
  40%{
    background: url(./image/bozse.jpg);
  }
  6%{
    background: url(./image/5.jpg);
  }
  80%{
    background: url(./image/4.jpeg);
  }
  100%{
    background: url(./image/headRacet.jpg);
  }
}
.text{
  margin: 20px;
  padding: 20px;
}
.big-circle{
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  opacity: 0.3;
  height: 700px;
}
.mid-circle{
  position: absolute;
  top: 60%;
  left: 20%;
  z-index: -1;
  opacity: 0.3;
  height: 700px;
}
.small-circle{
  position: absolute;
  left: -25px;
  top: 1100px;
  z-index: -1;
  opacity: 0.9;
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}