*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', sans-serif;
}
html{
    background-color: rgba(253, 228, 228, 0.274);
    color:rgb(92, 82, 82);
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    width: 100%;
}
/* ----------------------------------*/
/*           HEAD Part               */
/* ----------------------------------*/
header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.658),rgba(0, 0, 0, 0.575)),url(audience-auditorium-bleachers-chairs-391535.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
}
.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 70%;
    left: 55%;
    transform: translate(-50%,-50%);
}
.hero-text-box h1{
    font-family: 'Metal Mania', cursive;
    color: rgb(244, 248, 247);
}
/* ------------- Head - Container ----------------- */
#container {
    float: right;
    margin-top: 5%;
    margin-right: 7%;
}
#container ul{
    list-style:none;
    display: inline-block;
    border-radius: 15px;
    background-color: rgba(158, 156, 184, 0.123);
}
#container ul li{
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    color: white; 
    font-size: 18px;
    text-decoration: none;
}
#container ul li ul {
    display: none;
}

#container a {
    text-decoration: none;
    color: white;
}
#container ul li:hover{
    background-color: rgba(236, 177, 15, 0.575);
    border-radius: 10px;
}

#container ul li:hover > ul{
    display:flex;
    flex-wrap: wrap;
    position: absolute;
    top: 16%;
    left: 30.3%;
    margin-right: 7%;
}
#container ul li:hover > ul li{
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    color: white; 
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
}
#container ul li:hover > ul li a{
    vertical-align: middle;
    color:white;
}



/* --------------  LOGO  --------------------*/

.logo{
    width: 3.5%;
    height: auto;
    float: left;
    margin-top: 4%;
    margin-left: 6%;
}

/* ----------------------------------*/
/*    City part PIC-1         */
/* ----------------------------------*/

.section-pic{
    width: 1140px;
    height: auto;
    margin: 2% 10% 3% 10%;
    
}
.list-pic{  
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.list-pic li{
    margin: 0.4rem 0rem 3.5rem 0rem;
    padding: 0.3rem ;
    
}
.figure{
    height: 18rem;
    width: 18rem;
    transition: transform 0.5s;
    opacity: 0.77;
}
.figure img{
    height: 18rem;
    width: 18.5rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.figure:hover, .figure:active{
    transform: scale(1.05);
    opacity: 0.77;
    color: rgb(19, 19, 20);
    opacity: 1;
}
/* ----------------------------------*/
/*    Country part LIST of country  */
/* ----------------------------------*/
.main1{
    width: 90%;
    height: auto;
    margin: 15px auto;
    list-style: none;
    text-align: center;

}
.liberu-guid{
    background-color: rgba(153, 137, 45, 0.527);
    text-align: center;
    border-radius: 15px;
}
.main2{
    width: 90%;
    height: 90px;
    margin: 10px auto;
    padding: 20px auto;
    list-style: circle;
    border: 0.8px solid rgb(92, 82, 82);
    border-radius: 10px;
    display: inline-block;
}
.main2 h3{
    position: relative;
    color: black;
    top: 2px;
    left: 5px;
    float: left;
}
.main2 ul li{
    position: relative;
    margin-left: 0.8%;
    padding-top: 1%;
    display: inline-block;
    padding-right: 1%;
    font-weight: bolder;
    color: black;
}
.belgium{
    opacity: 0.7;
    background-image:linear-gradient(to right,black,black,yellow,red,red);
}
.ireland, .ireland2{
    opacity: 0.8;
    background-image:linear-gradient(to right,green,green,white,rgb(252, 153, 6),rgb(252, 153, 6));
}
.switzerland{
    opacity: 0.8;
    background-image:linear-gradient(to right,red,red,white,red,red);
}
.holland{
    opacity: 0.8;
    background-image:linear-gradient(to bottom,red,red,white,blue,blue);
}
.russia{
    opacity: 0.8;
    background-image:linear-gradient(to bottom,white,white,blue,red,red);
}
.italy{
    opacity: 0.8;
    background-image:linear-gradient(to right,green,green,white,red,red);
}
.libero-euro{
    opacity: 0.8;
    background-image:linear-gradient(to right,rgb(27, 105, 223),rgb(21, 125, 211),white,rgb(32, 78, 228),rgb(22, 115, 202));
}
