* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'EB Garamond', serif;
}
#head {
  background: linear-gradient(
    to bottom,
    rgba(14, 10, 10, 0.205),
    rgba(14, 12, 12, 0.287)
  );
  position: relative;
  height: 103vh;
}
#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 4rem;
  align-items: center;
}
#nav img {
  width: 12%;
  text-shadow: black;
  filter: drop-shadow(0 0 18px black);
}
#nav h2{
  font-size: 4rem;
  color: #1a1313bc;
  font-weight: 500;
}
#nav h3{
  font-size: 2rem;
  color: #1a1313bc;
  font-weight: 500;
}
#nav ul {
  display: flex;
  list-style: none;
  margin-right: 20rem;
  text-decoration: none;
}
#nav ul li a {
  margin-right: 3rem;
  text-decoration: none;
  font-size: 2.5rem;
  color: #f9f9f9;
  vertical-align: top;
}
#video-ig {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  /* height: 100%; */
}
.hero img {
  position: absolute;
  left: 17%;
  top: 35%;
  width: 55vh;
  height: 55vh;
  border-radius: 50%;
  box-shadow: 55px 55px 95px rgba(0, 0, 0, 0.472);
  filter: brightness(99%);
}
.hero h1 pre{
  position: absolute;
  left: 50%;
  top: 35%;
  font-size: 5.5rem;
  font-weight: 500;
  color: #f9f9f9;
  font-family: serif;
}
/* secound aprt  */
body > h1{
  text-align: center;
  font-size: 3.7rem;
  padding-top: 2rem;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1rem 15rem;
}
.container a img{
  width: 95%;
  height: 33vh;
  border-radius: 10px;
}
